@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Tourney:wght@500&display=swap");

$azul: #6086b7;
$azul-oscuro: #101f36;
$azul-claro: #bcd8e4;
$blanco: #f7f8fa;
$tourney: "Tourney", sans-serif;
$imprima: "Imprima", sans-serif;